/* Variabel Warna start*/
:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --text-light: #ffffff;
  --text-dark: #111827;
}
/* Variabel Warna end*/

/*Setting page start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #e5e7eb, #f9fafb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Setting page end*/

/*Main Container start*/
.main-container {
  display: flex;
  width: 900px;
  height: 600px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*Main Container end*/

/*welcome back content start*/
.welcome-container {
  width: 50%;
  background: url("../foto/background.png") center / cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.welcome-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 3;
}

.welcome-wrapper {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 80px;
  z-index: 3;
}

.nice {
  font-size: 16px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.welcome {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.welcome span {
  color: #29ff03;
}

.divider {
  width: 40px;
  height: 3px;
  background: var(--text-light);
  margin: 10px auto 15px auto;
  opacity: 0.9;
}

.description {
  font-size: 13px;
  line-height: 1.6;
  opacity: 0.8;
}

.login-container {
  width: 50%;
}
/*welcome back content end*/

/*Login content start*/
.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.input-group label {
  display: none;
}
.input-group input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.login-wrapper {
  padding: 20px;
}

.login-wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  color: #007bff;
  margin-bottom: 10px;
}

.intro {
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #666;
}

.login-btn {
  width: 100%;
  padding: 12px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: darkblue;
}

input[type="text"],
textarea {
  margin-bottom: 15px;
}

.error-massage {
  display: none;
  color: red;
  font-size: 12px;
}
/*Login content end*/
